.contenido_header{
    width: 100%;
    height: auto;
    background-color:#333;
    float: left;
    display: block;
    text-align: center;
    line-break: 30px;
    font-size:20px;
    padding:10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin:0;
}